.admin-dashboard {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

}

.admin-dashboard h1 {
    margin-bottom: 20px;
    color: #fe5d01;
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
}

.chart-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    width: 80%;
    flex-wrap: wrap;
    margin-left: 100px;
}

.chart-wrapper {
    width: 250px;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 251, 251, 0.95);
    border-radius: 20px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
}
.chart-title {
    text-align: center;
    color: #fe5d01;
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 20px;
}
.chart-wrapper-large {
    align-items: center;
}

/* user join */
.user-join-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.user-join-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 220px;  
    width: 100%;
}

.user-join-number {
    font-size: 64px;
    font-weight: bold;
    color: #fd6d6d;
}

.user-join-label {
    font-size: 18px;
    margin-top: 10px;
    color: #333;
}

/*chart*/
.bar-chart-container {
    width: 80%;
    max-width: 900px;
    min-width: 300px;
    background: #fff;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    overflow: hidden;
}

.bar-chart-container h2 {
    color: #fe5d01;
}

.chart-slider-container {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    align-items: flex-start;
    justify-content: center;
    margin-top: 80px;
    margin-left: 100px;
}


.bar-chart-container svg {
    max-height: 350px;
    width: 100%;
}

/* Sửa lỗi comment slider */
.comment-slider {
    width: 50%;
    max-width: 400px;
    min-width: 250px;

    text-align: center;
    margin-left: 10px;
    margin-bottom: 20px;
}

.comment-card {
    background: #fff;
    padding: 25px;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    align-items: center;
    justify-content: center;
}

.comment-card h4 {
    margin-bottom: 15px;
    color: #fe5d01;
    font-weight: bold;
    font-size: larger;
}

.comment-card p {
    font-size: 16px;
    color: #666;
    margin-top: 5px;
}

.star-comment-slider {
    color: #FFE31A;
    align-items: center;
    justify-content: center;
}

/* Điều chỉnh hình ảnh trong comment */
.image-product-comment {
    width: 80%;
    max-width: 200px;
    height: 200px;
    display: block;
    margin: 10px auto;
    border-radius: 20px;
}

/* Căn chỉnh màu sắc của nút prev/next */
.slick-prev, .slick-next {
    color: #fe5d01 !important;
}


